
	/*IMPORT GOOGLE FONTS */ 
	@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600");
	@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800");

	/* STYLE VARS */
	:root {
		--pc-primary: #00a598;
		--pc-primary-50: hsl(175.27272727273, 100%, 96%);
		--pc-secondary: #244C5A;
		--pc-overlay-text: #ffffff;
		--pc-error: #DF3030;
		--pc-error-50: rgba(223, 48, 48, .13);
		--pc-warning: #F18532;
		--pc-success: #4F8235;
		--pc-success-50: rgba(79, 130, 53, .13);
		--pc-info: #08789D;
		--pc-flash: rgba(8, 120, 157, .9);
		--pc-logo: url(https://cdn.perky.co/themes/default/logo.svg);
		--pc-font-heading: 'Barlow';
		--pc-font-body: 'Nunito';
		--pc-border-radius: 24px;
		--pc-border-radius-card: 12px;
	}

